<!DOCTYPE html>
<html>
  <head>
    <title>RolesDevise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if user_signed_in? %>
      <h1>User View</h1>
      <p>Signed In as: <%= current_user.email %></p>
      <p>Logout: <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?'} %></p>
    <% else %>
       <h1 class="text-wtest">Guest View</h1>

    <% end %>
    <%= yield %>
  </body>
</html>
